*{
  background-color: antiquewhite;
}
.form {
width: 100%;
height: 100%;
text-align: center;
background-color:thistle;
border-radius: 10px;
}

.header{
  text-align: center;
}
.fields {
  background-color:thistle;
height: 500px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 30% 30% 10%;
}
.field {
font-size: large;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px;
}


/* BUTTON */

.submit {
  background-color: rgb(255, 159, 32);
  width: 190px;
  height: 40px;
  font-weight: 900;
  border: none;
  font-size: large;
  border-radius: 50px;
  margin-bottom: 20px;
}
button:hover {
  cursor: pointer;
  opacity: 0.7;
}