.submit{
    background-color: burlywood;
    width: 190px;
    height: 40px;
    margin:200px;
    color: black;
    font-weight: 900;
    border: none;
    border-radius: 50px;
}
button:hover{
cursor: pointer;
opacity: 0.7;
}